<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>	
		<typeAlias alias="order" type="com.cdkj.dzt.domain.Order" />
		<typeAlias alias="model" type="com.cdkj.dzt.domain.Model" />
		<typeAlias alias="modelSpecs" type="com.cdkj.dzt.domain.ModelSpecs" />
		<typeAlias alias="product" type="com.cdkj.dzt.domain.Product" />
		<typeAlias alias="productSpecs" type="com.cdkj.dzt.domain.ProductSpecs" />
	</typeAliases>	
</configuration>


