<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.IOrderDAO">
	<resultMap id="order_DB_Result" type="order">
		<result column="code" property="code" />
		<result column="to_user" property="toUser" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_name" property="applyName" />
		<result column="apply_mobile" property="applyMobile" />
		<result column="lt_datetime" property="ltDatetime" />
		<result column="lt_province" property="ltProvince" />
		<result column="lt_city" property="ltCity" />
		<result column="lt_area" property="ltArea" />
		<result column="lt_address" property="ltAddress" />
		<result column="apply_note" property="applyNote" />
		<result column="create_datetime" property="createDatetime" />
		<result column="status" property="status" />
		<result column="lt_user" property="ltUser" />
		<result column="lt_name" property="ltName" />
		<result column="amount" property="amount" />
		<result column="pay_type" property="payType" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="pay_amount" property="payAmount" />
		<result column="deliverer" property="deliverer" />
		<result column="delivery_datetime" property="deliveryDatetime" />
		<result column="logistics_company" property="logisticsCompany" />
		<result column="logistics_code" property="logisticsCode" />
		<result column="pdf" property="pdf" />
		<result column="receiver" property="receiver" />
		<result column="re_mobile" property="reMobile" />
		<result column="re_address" property="reAddress" />
		<result column="receipt_type" property="receiptType" />
		<result column="receipt_title" property="receiptTitle" />
		<result column="yunfei" property="yunfei" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="toUser != null and toUser != '' ">
				AND t.to_user = #{toUser}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="applyName != null and applyName != '' ">
				AND t.apply_name = #{applyName}
			</if>
			<if test="applyMobile != null and applyMobile != '' ">
				AND t.apply_mobile = #{applyMobile}
			</if>
			<if test="ltProvince != null and ltProvince != '' ">
				AND t.lt_province = #{ltProvince}
			</if>
			<if test="ltCity != null and ltCity != '' ">
				AND t.lt_city = #{ltCity}
			</if>
			<if test="ltArea != null and ltArea != '' ">
				AND t.lt_area = #{ltArea}
			</if>
			<if test="ltAddress != null and ltAddress != '' ">
				AND t.lt_address = #{ltAddress}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="ltUser != null and ltUser != '' ">
				AND t.lt_user = #{ltUser}
			</if>
			<if test="ltName != null and ltName != '' ">
				AND t.lt_name = #{ltName}
			</if>
			<if test="deliverer != null and deliverer != '' ">
				AND t.deliverer = #{deliverer}
			</if>
			<if test="logisticsCompany != null and logisticsCompany != '' ">
				AND t.logistics_company = #{logisticsCompany}
			</if>
			<if test="logisticsCode != null and logisticsCode != '' ">
				AND t.logistics_code = #{logisticsCode}
			</if>
			<if test="receiver != null and receiver != '' ">
				AND t.receiver = #{receiver}
			</if>
			<if test="reMobile != null and reMobile != '' ">
				AND t.re_mobile = #{reMobile}
			</if>
			<if test="reAddress != null and reAddress != '' ">
				AND t.re_address = #{reAddress}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_order" parameterType="order" resultMap="order_DB_Result">
		SELECT
		t.code
		,t.to_user
		,t.apply_user
		,t.apply_name
		,t.apply_mobile
		,t.lt_datetime
		,t.lt_province
		,t.lt_city
		,t.lt_area
		,t.lt_address
		,t.apply_note
		,t.create_datetime
		,t.status
		,t.lt_user
		,t.lt_name
		,t.amount
		,t.pay_type
		,t.pay_group
		,t.pay_code
		,t.pay_datetime
		,t.pay_amount
		,t.deliverer
		,t.delivery_datetime
		,t.logistics_company
		,t.logistics_code
		,t.pdf
		,t.receiver
		,t.re_mobile
		,t.re_address
		,t.receipt_type
		,t.receipt_title
		,t.yunfei
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdzt_order t
		<include refid="where_condition" />
		ORDER BY create_datetime desc
	</select>
	
	
	<select id="select_getLastOrder" parameterType="order" resultMap="order_DB_Result">
		SELECT
		t.code
		,t.to_user
		,t.apply_user
		,t.apply_name
		,t.apply_mobile
		,t.lt_datetime
		,t.lt_province
		,t.lt_city
		,t.lt_area
		,t.lt_address
		,t.apply_note
		,t.create_datetime
		,t.status
		,t.lt_user
		,t.lt_name
		,t.amount
		,t.pay_type
		,t.pay_group
		,t.pay_code
		,t.pay_datetime
		,t.pay_amount
		,t.deliverer
		,t.delivery_datetime
		,t.logistics_company
		,t.logistics_code
		,t.pdf
		,t.receiver
		,t.re_mobile
		,t.re_address
		,t.receipt_type
		,t.receipt_title
		,t.yunfei
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdzt_order t
		WHERE t.apply_user = #{applyUser} AND t.status > '2'
		ORDER BY create_datetime desc
		Limit 1
	</select>

	<select id="select_order_count" parameterType="order"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdzt_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_order" parameterType="order">
		INSERT INTO
		tdzt_order(
		code
		,to_user
		,apply_user
		,apply_name
		,apply_mobile
		
		,lt_datetime
		,lt_province
		,lt_city
		,lt_area
		,lt_address
		
		,lt_user
		,lt_name
		,apply_note
		,create_datetime
		,status
		
		,receiver
		,re_mobile
		,re_address
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{toUser}
		,#{applyUser}
		,#{applyName}
		,#{applyMobile}
		
		,#{ltDatetime}
		,#{ltProvince}
		,#{ltCity}
		,#{ltArea}
		,#{ltAddress}
		
		,#{ltUser}
		,#{ltName}
		,#{applyNote}
		,#{createDatetime}
		,#{status}
		
		,#{receiver}
		,#{reMobile}
		,#{reAddress}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_distributeOrder" parameterType="order">
		UPDATE tdzt_order
		SET
		lt_user = #{ltUser}
		,lt_name = #{ltName}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_confirm" parameterType="order">
		UPDATE tdzt_order
		SET
		amount = #{amount}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_payGroup" parameterType="order">
		UPDATE tdzt_order
		SET
		pay_type = #{payType}
		,pay_group = #{payGroup}
		WHERE code = #{code}
	</update>


	<update id="update_ltSubmit" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_approveOrder" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_submitProudect" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


	<update id="update_sendGoods" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		
		,deliverer = #{deliverer}
		,delivery_datetime = #{deliveryDatetime}
		,logistics_company = #{logisticsCompany}
		,logistics_code = #{logisticsCode}
		,pdf = #{pdf}
		
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_confirmReceipt" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_cancelOrder" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_inputInfor" parameterType="order">
		UPDATE tdzt_order
		SET
		re_address = #{reAddress}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_paySuccess" parameterType="order">
		UPDATE tdzt_order
		SET
		status = #{status}
		,pay_code = #{payCode}
		,pay_datetime = #{payDatetime}
		,pay_amount= #{payAmount}
		WHERE code = #{code}
	</update>

</mapper>