<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.dzt.dao.IProductSpecsDAO">
	<resultMap id="productSpecs_DB_Result" type="productSpecs">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="parent_code" property="parentCode" />
		<result column="type" property="type" />
		<result column="pic" property="pic" />
		<result column="product_code" property="productCode" />
		<result column="order_code" property="orderCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
		</trim>
	</sql>
	<select id="select_productSpecs" parameterType="productSpecs" resultMap="productSpecs_DB_Result">
		SELECT
		t.code
		,t.name
		,t.parent_code
		,t.type
		,t.pic
		,t.product_code
		,t.order_code
		FROM
		tdzt_product_specs t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_productSpecs_count" parameterType="productSpecs"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdzt_product_specs t
		<include refid="where_condition" />
	</select>

	<insert id="insert_productSpecs" parameterType="productSpecs">
		INSERT INTO
		tdzt_product_specs(
		code
		,name
		,parent_code
		,type
		,pic
		,product_code
		,order_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{parentCode}
		,#{type}
		,#{pic}
		,#{productCode}
		,#{orderCode}
		)
	</insert>

	<update id="update_productSpecs" parameterType="productSpecs">
		UPDATE tdzt_product_specs
		SET
		name = #{name}
		,parent_code = #{parentCode}
		,type = #{type}
		,pic = #{pic}
		,product_code = #{productCode}
		,order_code = #{orderCode}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_productSpecs" parameterType="productSpecs">
		DELETE FROM
		tdzt_product_specs
		WHERE
		product_code = #{productCode}
	</delete>

</mapper>